/* nav li{
    display: inline-block;
}

.container{
    display: flex;
    padding: 20px;
    border: 2px solid blue;
}

.box1{
    height: 100px;
    width: 100px;
    color: blue;
    background-color: red;

   flex: 1;
}
.box2{
    height: 100px;
    width: 100px;
    color: blue;
background-color: blueviolet;
margin-right: 20px;
flex: 1;
}

.box3{
    height: 100px;
    width: 100px;
    color: blue;
background-color: black;
flex: 1;
}



 */


 .container{
     display: flex;
     border: 2px solid green;
     padding: 20px;
 }

 .firstchild{
     border: 2px solid red;
     margin-right: 10px;
     padding: 10px;
     display: flex;
 }

 .firstchild img{
     width: 100px;
     height: 80px;
 }



 .second{
     border: 2px solid green;
     margin-right: 10px;
     padding: 10px;
     display: flex;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
 }

 .second img{
    width: 100px;
    height: 80px;
}


 .third{
     padding: 10px;
     border: 2px solid red;
     display: flex;
 }

 .third img{
    width: 200px;
    height: 100px;
}
